name: Discord Bot

on:
  workflow_dispatch:
  push:
  schedule:
    - cron: '*/15 * * * *'

jobs:
  run-bot:
    runs-on: ubuntu-latest
    timeout-minutes: 3600

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'

    - name: Install requirements
      run: pip install -r requirements.txt

    - name: Run bot
      env:
        BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
      run: python bot.py
